{% load static %}

<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light border-bottom border-1 border-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/data-management.png' %}" alt="ACOMAG" width="48" height="42" class="d-inline-block align-text-middle">    
            ACOMAG
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="Homepage" href="{% url 'home' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Caixas Postais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Refugo Postal</a>
                </li>

                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> {% endcomment %}
            </ul>

            <div class="d-flex">
                <a href="{% url 'admin' %}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Admin</a>
                {% comment %} <button class="btn btn-outline-success" type="button">Admin</button> {% endcomment %}
            </div>
        
            {% comment %} <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}
        </div>
    </div>
</nav>
